*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 3000px;
}
.first{
background-color: rgb(44, 62, 80);
width: 100vw;
height: 120px;
position: fixed;
}
.left{
    position: relative;
    bottom: 15%;
    padding-top: 60px;
    
}
.left span{
    font-size: 40px;
    font-weight: 900;
    color: white;
    padding-top: 120px;
    padding-left: 120px;
}
.right{

position: relative;
left:70% ;
bottom: 60px;
}
.right a{
    font-size: 25px;
    text-decoration: none;
    font-weight: 900;
    color: white;
}
.mainPic{
    height: 400px;
    width: 400px;
    
}
.second{
   text-align: center;
   padding-top: 10%;
   background-color: #1ABC9C;
   height: 100vh;
}
.second h1{
    color: white;
    font-size: 90px;
    font-weight: 900px;
    padding-top: 30px;
}
 .second hr {
    display: inline-block;
    width:10%;
    margin:0 auto;
    color: white;
    background-color: white;
    height: 6px;
    border: 0;
    margin-bottom: 20px;
}
.second i{
color: white;
font-size: 50px;

}
.second h2{
    color: white;
    padding-top: 40px;
    font-size: 40px;
    font-weight:lighter;
}
.pic{
    max-width: 400px;
    height: 500px;
    padding-left: 20px;
    border-radius: 30px;
    
   
}
.pic img{
    max-width: 500px;
    height: 400px;
    border-radius: 30px;
}
.pic1, .pic2, .pic3{
    float: left;
    margin-left:5%;
    margin-right:5%;
    margin-top: 2%;
}
.cleaner2{
    clear: both;
}
.third{
    text-align: center;
}
.pic4, .pic5, .pic6{
    float: left;
    margin-left:5%;
    margin-right:5%;
}
.cleaner2{
    clear: both;
}
.third h1{
    color: rgb(44, 62, 80);
    font-size: 70px;
    font-weight: 900px;
    padding-top: 140px;
    margin-bottom: 1%;
    
}
 .third hr {
    display: inline-block;
    width:7%;
    margin:0 auto;
    color: rgb(44, 62, 80);
    background-color: rgb(44, 62, 80);
    height: 6px;
    border: 0;
    margin-bottom: 20px;
}
.third i{
color: rgb(44, 62, 80);
font-size: 50px;
}
.four{
    background-color:#1ABC9C ;
    text-align: center;
}
.four h1{
    color: white;
    font-size: 80px;
    font-weight: 900px;
    padding-top: 120px;
}
 .four hr {
    display: inline-block;
    width:10%;
    margin:0 auto;
    color: white;
    background-color: white;
    height: 6px;
    border: 0;
    margin-bottom: 20px;
}
.four i{
color: white;
font-size: 50px;
}

.about1, .about2{
    text-align: left;
    width: 25%;
    float: left;
    margin-top: 2%;
    word-spacing: 3px;
   line-height: 40px;
   letter-spacing: 1px;
}
.about1{
    margin-left: 23%;
}
.about2{
    margin-left: 3%;
}
.four{
    height: 90vh;
    margin-top: 40px;
}
.four p{
    font-size: 35px;
    color: white;
    font-weight:lighter;
}
.button1 {
    background-color: #1ABC9C; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border:4px solid white;
    border-radius: 20px;
    font-size: 30px;
  }
  .buttonDiv1{
      margin-top: 20%;
     
  }
  .five h1{
    color: rgb(44, 62, 80);
    font-size: 70px;
    font-weight: 900px;
    padding-top: 110px;
    
}
 .five hr {
    display: inline-block;
    width:7%;
    margin:0 auto;
    color: rgb(44, 62, 80);
    background-color: rgb(44, 62, 80);
    height: 6px;
    border: 0;
    margin-bottom: 20px;
}
.five i{
color: rgb(44, 62, 80);
font-size: 50px;
}
.five{
    width:100vw;
    text-align: center;
    height: 100vh;
}
input{
    margin-left: 30px;
}
input, textarea {
    width: 70%;
    font-size: 1.5rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    border-width: 1px;
    color: grey;
}
Label{
font-size: 35px;
font-family: sans-serif;
color:grey;
padding-left: 2%;
}
.inputs{
    text-align: justify;
    padding-left: 25%;
}
textarea{
    margin-left: 2%;
}
.button2 {
    background-color: #6BD4BF; 
    border: none;
    color: white;
    padding: 30px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border:4px solid white;
    border-radius: 20px;
    font-size: 30px;
    margin-top: 1%;
    margin-right: 40%;
  }
  .icons{
      background-color: rgb(44, 62, 80); 
      height: 55vh;
      padding-top: 5%;
      margin-top: 5%;
  }
   
  .location, .web, .freelancer{
      float: left;
  }
  .cleaner3{
      clear: both;
  }
  .icons .icon{
      height: 70px;
      width: 70px;
      float: left;
      background-color: rgb(44, 62, 80);
      color:white;
      border-radius: 50%;
      border:2px solid white;
      font-size: 30px;
      line-height: 70px;
      text-align: center;
      margin-top: 8%;
  }
  .icon2, .icon4{
      margin-left: 4%;
      margin-right: 4%;
  }
  .icon1{
      margin-left: 4%;
  }
  .location {
      max-width: 400px;
      height: 400px;
      text-align:center;
      margin-left: 10%;
  }
  .location h1{
      font-size: 40px;
      color: white;
      font-weight: bold;
      }
.location p{
    color:white;
    font-size: 35px;
    font-weight: lighter;
    padding-top: 8%;
}
      
.web h1{
font-size: 40px;
color: white;
font-weight: bold;
  }
  
.web {
    
    margin-left: 8%;
}
.freelancer h1{
    font-size: 40px;
    color: white;
    font-weight: bold;
   
}
.freelancer{
    margin-left: 10%;
    width: 500px;
    text-align: center;
    
}
.freelancer p{
font-size: 35px;
color:white;
padding-top: 5%;
}
.freelancer a{
    color: #1ABC9C;
}
.right :hover{
    color:#1ABC9C;
    transition: all .3s ease;
}
.l, .in{
    position: fixed;
}
label:hover{ 
font-size: 25px;
}

.pic :hover{
    opacity: 0.5;
    
}




